body {
    background-color: #f0f0f0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    word-break: break-all;
}

button{
    font-weight: bold;
}

input
{
	margin:0;
	border: 1px solid #c3c3c3;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	line-height:1;
	font-size:13px;
    font-family:Arial;
    padding: 10px;
    border-radius: 4px;
}

h1,h3,h4,h5,p{
    margin: 0;
}

h2{
    margin: 5px 0;
    font-size: 2.5em;
    line-height: 1.4em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #777;
    margin: 10px 0;
    padding: 0; 
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.user-repositories-list{
    max-height: 40vh;
    overflow: auto;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.message{
    padding: 15px 10px;;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #fff;
    border-radius: 4px;
}

.message--error{
    background-color: #fcdede;
    border-color: #d2b2b2;
    color: #991144;
}

.search-form{
    padding: 5px 15px;;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.search-wrapper__inner{
    background-color: #fff;
    box-shadow: 5px 6px 20px 0px #00000052;
    border-radius: 7px;
    padding: 15px 0;
}

.search-result__data{
    padding: 5px 15px;
    display: none;
}

.search-result__empty{
    padding: 5px 15px;
    display: none;
}

.user-repositories{
    padding-top: 10px;
}

.search-form__item, .user-info, .user-repositories, .search-result__empty{
    margin: 0 10px;
}

.user-info{
    max-width: 410px;
}

.user-info__item{
    display: inline-block;
}

.user-info__details{
    max-width: calc(100% - 105px);
    vertical-align: top;
}

.user-info__avatar img{
    width: 100px;
}

.user-repositories-list__item{
    padding: 10px 5px 18px 10px;
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repository-info{
    display: flex;
    align-items: center;
}

.repository-info__item{
    padding: 0 5px;
}

.lds-dual-ring {
    display: flex;
    margin: auto;
    width: 64px;
    height: 64px;
  }

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-color: #ccc transparent #ccc transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  